*.html linguist-detectable=false
*.cpp linguist-detectable=false
*.CMake linguist-detectable=false
*.Swift linguist-detectable=false
static/* linguist-vendored
# Auto detect text files and perform LF normalization
* text=auto
